<!DOCTYPE html>
<html>
  <head>
    <title>Bottom Nav Bar(with icons)</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/assets/favicon.ico" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./nav.css" />
  </head>
</html>

<body>
  <nav class="nav">
    <a href="#" class="nav__link">
      <i class="material-icons nav__icon">dashboard</i>
      <span class="nav__text">Dashboard</span>
    </a>
    <a href="#" class="nav__link nav__link--active">
      <i class="material-icons nav__icon">Animal On Map</i>
      <span class="nav__text">Animal On Map</span>
    </a>
    <a href="#" class="nav__link">
      <i class="material-icons nav__icon">animalmanagement</i>
      <span class="nav__text">Animalmanagement</span>
    </a>
    <a href="#" class="nav__link">
      <i class="material-icons nav__icon">Animal Register</i>
      <span class="nav__text">Animal Register</span>
    </a>
    <a href="#" class="nav__link">
      <i class="material-icons nav__icon">animalstatistic</i>
      <span class="nav__text">Animalstatistic</span>
    </a>
  </nav>
</body>
